<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display currentTabName="AB0" currentTabNumber="0" fontSize="9">
    <Graphs>
      <Graph name="TTP" number="0" applyLayout="false">
        <Node name="TTP1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="TTP" number="0">
          <x>326.0</x>
          <y>121.0</y>
        </Node>
      </Graph>
      <Graph name="AB0" number="0" applyLayout="false">
        <Node name="AB15" number="0">
          <x>238.0</x>
          <y>270.0</y>
        </Node>
        <Node name="AB9" number="0">
          <x>1185.0</x>
          <y>122.0</y>
        </Node>
        <Node name="AB3" number="0">
          <x>349.0</x>
          <y>21.0</y>
        </Node>
        <Node name="AB7" number="0">
          <x>898.0</x>
          <y>24.0</y>
        </Node>
        <Node name="AB0" number="0">
          <x>572.0</x>
          <y>256.0</y>
        </Node>
        <Node name="AB6" number="0">
          <x>760.0</x>
          <y>62.0</y>
        </Node>
        <Node name="AB8" number="0">
          <x>885.0</x>
          <y>118.0</y>
        </Node>
        <Node name="AB4" number="0">
          <x>482.0</x>
          <y>28.0</y>
        </Node>
        <Node name="AB1" number="0">
          <x>29.0</x>
          <y>127.0</y>
        </Node>
        <Node name="AB2" number="0">
          <x>185.0</x>
          <y>16.0</y>
        </Node>
        <Node name="AB5" number="0">
          <x>617.0</x>
          <y>37.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

