<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display currentTabName="TTP" currentTabNumber="0" fontSize="9">
    <Graphs>
      <Graph name="TTP" number="0" applyLayout="false">
        <Node name="TTP" number="0">
          <x>232.0</x>
          <y>129.0</y>
        </Node>
      </Graph>
      <Graph name="A0" number="0" applyLayout="false">
        <Node name="A6" number="0">
          <x>431.0</x>
          <y>16.0</y>
        </Node>
        <Node name="A4" number="0">
          <x>127.0</x>
          <y>179.0</y>
        </Node>
        <Node name="A1" number="0">
          <x>1180.0</x>
          <y>119.0</y>
        </Node>
        <Node name="A5" number="0">
          <x>132.0</x>
          <y>100.0</y>
        </Node>
        <Node name="A0" number="0">
          <x>1011.0</x>
          <y>44.0</y>
        </Node>
        <Node name="A3" number="0">
          <x>495.0</x>
          <y>252.0</y>
        </Node>
        <Node name="A2" number="0">
          <x>1034.0</x>
          <y>212.0</y>
        </Node>
      </Graph>
      <Graph name="B0" number="0" applyLayout="false">
        <Node name="B1" number="0">
          <x>714.0</x>
          <y>33.0</y>
        </Node>
        <Node name="B2" number="0">
          <x>1136.0</x>
          <y>60.0</y>
        </Node>
        <Node name="B3" number="0">
          <x>646.0</x>
          <y>248.0</y>
        </Node>
        <Node name="B4" number="0">
          <x>154.0</x>
          <y>201.0</y>
        </Node>
        <Node name="B0" number="0">
          <x>293.0</x>
          <y>16.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

